/******************************************************************************                                                                           
	I N D E X 

	0.1 	B O D Y  
 	0.6 	B U T T O N S 
 	0.2 	L A Y O U T 
 	0.3 	S I D E B A R 
 	0.4 	S L I D E R
 	0.5 	T I L E S - G R I D 
 	0.6 	H O M E - B O T T O M - L I N K S
 	0.7 	B U T T O N S 

*******************************************************************************/
/******************************************************************************                                                                           
 0.1 	B O D Y 
*******************************************************************************/
html .s4-ca {
  margin-left: 0;
}
html body {
  /******************************************************************************                                                                           
   0.2 	L A Y O U T 
  *******************************************************************************/
}
html body .left-menu-custom ul {
  margin-left: 0px;
}
html body .left-menu-custom ul li {
  line-height: 2;
  list-style-type: none;
  margin-left: 10px;
  position: relative;
}
html body .left-menu-custom ul a {
  color: #009FD8 !important;
  text-decoration: none !important;
}
html body .left-menu-custom ul a .menu-item-text:before {
  content: "> ";
  text-decoration: none !important;
  left: -14px;
  position: absolute;
}
html body .left-menu-custom ul:hover {
  color: #00719b !important;
}
html body #outer-table thead {
  position: relative;
  z-index: 9999;
}
html body #header {
  border-bottom: 1px solid #cccccc;
  -webkit-box-shadow: 0px 2px 2px 0px #cccccc;
  -moz-box-shadow: 0px 2px 2px 0px #cccccc;
  box-shadow: 0px 2px 2px 0px #cccccc;
  position: relative;
  z-index: 1;
}
html body #s4-leftpanel {
  display: none;
}
html body .breadcrumbnav {
  float: left;
}
html body .breadcrumbnav a, html body .breadcrumbnav a:link, html body .breadcrumbnav a:visited {
  color: #777 !important;
}
html body .breadcrumbnav a.breadcrumbCurrentNode:link, html body .breadcrumbnav a.breadcrumbCurrentNode:visited, html body .breadcrumbnav a.breadcrumbCurrentNode:hover {
  color: #D10072 !important;
}
html body .h1-homepage {
  background: #CF0072 !important;
}
html body .h1-imgInner {
  background: url("https://at.avanade.com/PublishingImages/GlobalMap_DARK2.png") no-repeat !important;
}
html body .h1-box h1, html body .rm-layout h1 {
  height: auto;
  padding: 10px 0;
  font-weight: normal;
  font-family: Segoe UI, Helvetica, Arial !important;
  font-size: 22px;
  border-color: #DF57A2;
}
html body div#utilitybar div.menus-container span.ms-welcomeMenu {
  overflow: hidden;
  letter-spacing: -1px;
}
html body div#utilitybar div.menus-container span.ms-welcomeMenu a.ms-menu-a {
  padding-left: 6px;
}
html body div#utilitybar div.menus-container span.ms-welcomeMenu a.ms-menu-a {
  width: 180px;
}
html body .h1-section4 div.h1-imgInner div.h1-overlap {
  background-color: transparent;
}
html body table#outer-table {
  min-width: 1070px;
}
html body table#inner-table {
  width: 100%;
}
html body .HomeLayout .content-information h2 {
  text-align: center;
}
html body .SupportResources .tiles a, html body .SupportResources .tiles p {
  font-size: 15px;
}
html body .Exceptions .exception-diagram * {
  -moz-box-sizing: border-box;
}
html body .Exceptions .exception-diagram {
  overflow: hidden;
  -moz-box-sizing: border-box;
  margin-bottom: 4em;
  /*
  li:nth-of-type(2), 
  li:first-child + li {opacity:0.9; filter: alpha(opacity=95);}
  li:nth-of-type(3), 
  li:first-child + li + li{opacity:0.8; filter: alpha(opacity=90);}
  li:nth-of-type(4), 
  li:first-child + li + li + li{opacity:0.7; filter: alpha(opacity=85);}
  li:nth-of-type(5), 
  li:first-child + li + li + li + li{opacity:0.60; filter: alpha(opacity=80);}
  */
  /*
  li:before{
  	border-left: 7px solid rgba(0, 0, 0, 0); 
  	border-right: 7px solid rgba(0, 0, 0, 0); 
  	border-top: 7px solid #32384D; 
  	bottom: -7px; content: ""; 
  	display: block;
  	height: 0; 
  	left: 49%; 
  	margin: 0 auto; 
  	opacity: 1 !important;
  	filter: alpha(opacity=100) !important;
  	position: absolute; 
  	width: 0; 
  	z-index: 10; 
  	opacity:inherit;
  }
  li:nth-of-type(2)::before{border-top-color:#4C628B !important}
  li:nth-of-type(3)::before{border-top-color:#61759D !important}
  li:nth-of-type(4)::before{border-top-color:#648FB0 !important}
  li:nth-of-type(5)::before{border-top-color:#2A6693 !important}			
  */
}
html body .Exceptions .exception-diagram ul {
  display: table !important;
  margin: 0 !important;
  overflow: visible;
  padding: 0;
  max-width: 100%;
}
html body .Exceptions .exception-diagram li {
  display: table;
  position: relative;
  z-index: 1;
  float: left;
  height: 144px;
  text-align: center;
  vertical-align: middle;
  width: 20%;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: #32384D;
  border-right: 3px solid #FFFFFF;
}
html body .Exceptions .exception-diagram li a,
html body .Exceptions .exception-diagram li a:link,
html body .Exceptions .exception-diagram li a:visited,
html body .Exceptions .exception-diagram li a:hover {
  color: #fff !important;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}
html body .Exceptions .exception-diagram li.last {
  display: block;
  background-color: #22486A;
  position: relative;
  z-index: 0;
  height: auto;
  padding: 20px !important;
  width: 100%;
  margin-top: 22px;
}
html body .Exceptions .exception-diagram li.last:before {
  border-left: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid rgba(0, 0, 0, 0);
  border-top: 15px solid #32384D;
  top: -18px;
  content: "";
  display: block;
  height: 0;
  left: 49%;
  margin: 0 auto;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  position: absolute;
  width: 0;
  z-index: 10;
  opacity: inherit;
}
html body .Exceptions h2 a {
  float: right;
  color: #666 !important;
  font-size: 12px;
  text-decoration: none !important;
}
html body .Exceptions h2 a:hover {
  text-decoration: none;
  color: #009FDA !important;
}
html body .Exceptions h2 a:before {
  content: "^";
  font-family: verdana;
  font-size: 15px;
  padding-right: 4px;
  position: relative;
  text-decoration: none !important;
  top: 4px;
}
html body .GenericLayout .RC-controls {
  text-align: right;
  margin-right: 4%;
}
html body .GenericLayout .RC-controls a {
  margin-left: 25px;
  display: inline-block;
  min-height: 26px;
  padding: 6px 0 6px 35px;
  font-weight: 600 !important;
  color: #666 !important;
}
html body .GenericLayout .RC-controls a.calendar-icon {
  background: url("https://at.avanade.com/sites/CustomerRecordsManagement/Style%20Library/img/calendar-icon.png") no-repeat left;
}
html body .GenericLayout .RC-controls a.important-icon {
  background: url("https://at.avanade.com/sites/CustomerRecordsManagement/Style%20Library/img/important-icon.png") no-repeat left;
}
html body .GenericLayout .record-clasification-wrapper .ms-wpContentDivSpace {
  border-left: solid 2px  #CF0072;
  padding-left: 15px;
}
html body .GenericLayout .et-tabrow {
  overflow: hidden;
}
html body .GenericLayout .et-tab {
  background: url("https://at.avanade.com/sites/CustomerRecordsManagement/Style%20Library/css/images/tabs.png") no-repeat scroll right -107px rgba(0, 0, 0, 0);
  border: 0 none;
  color: #FFFFFF;
  display: block;
  float: left;
  font-family: "Segoe UI";
  font-size: 11px !important;
  font-weight: bold;
  height: 107px;
  margin-bottom: 15px;
  max-width: 125px;
  padding: 8px 37px 0 3px;
  position: relative;
  text-align: left;
  white-space: pre-wrap;
  width: auto;
}
html body .GenericLayout .et-activetab {
  background-position: right -321px;
}
html body .GenericLayout .et-separator {
  background-color: transparent;
}
html body .GenericLayout .content-information .ms-WPBorder {
  border: none;
}
html body .GenericLayout .et-activetab:before {
  color: rgba(0, 0, 0, 0);
  content: ".";
  display: block;
  height: 107px;
  left: -36px;
  margin: 0 auto;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 36px;
  z-index: 10;
  background: url("https://at.avanade.com/sites/CustomerRecordsManagement/Style%20Library/css/images/tabs.png") no-repeat transparent scroll right -214px;
}
html body .GenericLayout .et-tabrow span + span + span + span + span + span {
  background-position: right -428px  !important;
}
html body .GenericLayout .et-tabrow span + span + span + span + span + span.et-activetab {
  background-position: right 0px  !important;
}
html body .RolesResponsabilities .responsabilities-chart {
  margin: 1% 0 8%;
  min-height: 253px;
  position: relative;
}
html body .RolesResponsabilities .responsabilities-chart .ms-WPHeader td, html body .RolesResponsabilities .responsabilities-chart .ms-fakewptitle {
  border-bottom: none;
}
html body .RolesResponsabilities .responsabilities-chart .conract-leader,
html body .RolesResponsabilities .responsabilities-chart .records-lead,
html body .RolesResponsabilities .responsabilities-chart .engagement-team-member {
  color: #666666;
  float: left;
  position: relative;
  width: 31.5%;
  z-index: 999;
  padding: 1%;
}
html body .RolesResponsabilities .responsabilities-chart .records-lead {
  margin-top: 5%;
}
html body .RolesResponsabilities .responsabilities-chart .engagement-team-member {
  margin-top: 10%;
}
html body .RolesResponsabilities .responsabilities-chart h2, html body .RolesResponsabilities .responsabilities-chart b {
  color: #333;
}
html body .RolesResponsabilities .responsabilities-chart h3 {
  color: white;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 14px;
}
html body .RolesResponsabilities .responsabilities-chart img.chart-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 730px;
}
html body .RolesResponsabilities .the-tabs .ms-wpContentDivSpace {
  margin-left: 0px;
  margin-right: 0px;
}
html body .RolesResponsabilities .the-tabs .ie-links {
  list-style-image: url("https://at.avanade.com/sites/CustomerRecordsManagement/Style%20Library/img/ie-icon.png");
  margin-left: 2.5%;
}
html body .RolesResponsabilities .the-tabs .ie-links li {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-left: 12px;
}
html body .RolesResponsabilities .the-tabs ul {
  margin-left: 1%;
}
html body .RolesResponsabilities .the-tabs ul ul {
  margin-left: 6%;
}
html body .RolesResponsabilities .the-tabs input[type="checkbox"], html body .RolesResponsabilities .the-tabs input[type="radio"] {
  float: left;
  height: 20px;
  margin-right: 10px;
}
html body .RolesResponsabilities .the-tabs p {
  float: left;
  line-height: normal;
  width: 90%;
}
html body .RolesResponsabilities .the-tabs h2 {
  margin-top: 20px;
}
html body .RolesResponsabilities .the-tabs li {
  margin-bottom: 5px;
  list-style-type: none;
  clear: both;
}
html body .RolesResponsabilities .the-tabs li li {
  list-style-type: disc;
}
html body .RolesResponsabilities .the-tabs a.pdf:after {
  content: "";
  float: left;
  height: 26px;
  left: 13px;
  position: absolute;
  top: 9px;
  width: 21px;
  background-image: url("https://at.avanade.com/sites/CustomerRecordsManagement/Style%20Library/img/pdf-icon.png");
}
html body .RolesResponsabilities .the-tabs a.pdf {
  color: #FFFFFF !important;
  display: block;
  float: right;
  font-weight: bold !important;
  padding: 2% 4% 2% 6%;
  position: relative;
  width: auto;
  background-color: #ff3300;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmMzMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff3300 1%, #cc0000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ff3300), color-stop(100%, #cc0000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff3300 1%, #cc0000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff3300 1%, #cc0000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff3300 1%, #cc0000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff3300 1%, #cc0000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3300', endColorstr='#cc0000',GradientType=0 );
  /* IE6-8 */
}
html body .rm-layout {
  font-size: 13px;
  background: url("https://at.avanade.com/sites/CustomerRecordsManagement/Style Library/css/images/bg.png") #efefef repeat-x scroll top right;
  border-bottom: 1px solid #ddd;
  text-shadow: none !important;
  color: #858585;
  /******************************************************************************                                                                           
   0.3 	S I D E B A R 
  *******************************************************************************/
  /******************************************************************************                                                                           
   0.4 	S L I D E R
  *******************************************************************************/
  /******************************************************************************                                                                           
   0.5 	T I L E S - G R I D 
  *******************************************************************************/
  /******************************************************************************                                                                           
   0.6 	H O M E - B O T T O M - L I N K S
  *******************************************************************************/
  /******************************************************************************                                                                           
   0.6 	B U T T O N S 
  *******************************************************************************/
}
html body .rm-layout * {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
html body .rm-layout .ms-WPBody {
  font-size: 13px;
  font-family: Segoe UI;
}
html body .rm-layout p {
  font-family: Segoe UI, Helvetica, Arial !important;
  font-size: 13px;
}
html body .rm-layout ul {
  font-family: Segoe UI, Helvetica, Arial !important;
  margin-left: 2.5%;
  font-size: 13px !important;
  font-family: Segoe UI, Helvetica, Arial !important;
  list-style-type: disc;
  line-height: 20px !important;
  font-size: 13px;
}
html body .rm-layout ul ul {
  margin-bottom: 1em;
  margin-top: 1em;
}
html body .rm-layout ul ul li {
  list-style-type: circle;
}
html body .rm-layout .ms-rteStyle-Comment {
  text-shadow: none !important;
}
html body .rm-layout a:link,
html body .rm-layout a:visited,
html body .rm-layout a:hover {
  font-family: Segoe UI, Helvetica, Arial !important;
  color: #009FD8;
  font-weight: 400;
}
html body .rm-layout h1 {
  font-family: Segoe UI, Helvetica, Arial !important;
  color: #46464A;
  font-size: 22px;
  font-weight: 400;
}
html body .rm-layout h2 {
  font-family: Segoe UI, Helvetica, Arial !important;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0 20px;
}
html body .rm-layout h3 {
  font-family: Segoe UI, Helvetica, Arial !important;
  color: #858585;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 5px;
}
html body .rm-layout h4,
html body .rm-layout h5,
html body .rm-layout h6 {
  font-family: Segoe UI, Helvetica, Arial !important;
  font-size: 13px;
}
html body .rm-layout hr {
  background: #E2E2E2;
  display: block;
  height: 1px;
  margin: 4% 0;
  width: 100%;
}
html body .rm-layout .content-information {
  width: 75%;
  float: left;
  padding: 20px 20px;
  box-shadow: 0 0 4px #CCCCCC;
  background-color: #ffffff;
  min-height: 600px;
  /*Table Style*/
}
html body .rm-layout .content-information .ms-rteTable-default {
  border: 0 none !important;
}
html body .rm-layout .content-information .ms-rteTable-default border-collapse:collapse
tr th {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 0 none;
  font-family: "Segoe UI", Arial, Sans-serif;
  font-size: 14px;
  font-weight: 600;
}
html body .rm-layout .content-information .ms-rteTable-default border-collapse:collapse
tr td {
  padding: 10px;
  border: 0 none;
  border-bottom: 1px solid #E2E2E2;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Sans-serif;
}
html body .rm-layout .content-information .ms-rteTable-default border-collapse:collapse
tr th.ms-rteTableFirstCol-default {
  background-color: #AEEFFF;
  color: #666;
  border-bottom: 1px solid #E2E2E2;
  font-size: 12px;
}
html body .rm-layout .side-bar ul.root {
  /*
  li:nth-child(6), li:nth-child(7), li:nth-child(8), li:nth-child(9), li:nth-child(10){
  	display: none;
  }*/
}
html body .rm-layout .side-bar {
  width: 25%;
  float: right;
  padding: 0;
}
html body .rm-layout .side-bar a.static.menu-item:hover {
  text-decoration: underline !important;
}
html body .rm-layout .side-bar ul {
  margin-left: 0px;
}
html body .rm-layout .side-bar ul li {
  margin-left: 0px;
  list-style-type: none;
}
html body .rm-layout .side-bar ul li li {
  margin-left: 6%;
}
html body .rm-layout .side-bar .left-menu-custom span.static.menu-item {
  border-bottom: 1px solid #DEDEDE;
  color: #46464A;
  font-family: Segoe UI, Helvetica, Arial !important;
  font-size: 20px;
  font-weight: lighter;
  margin: 5px 0 10px;
  padding-bottom: 14px;
}
html body .rm-layout .side-bar .banner-sidebar {
  margin-top: 20px;
}
html body .rm-layout .side-bar .banner-sidebar .ms-rtestate-field > img {
  width: 100%;
  max-height: 200px;
}
html body .rm-layout .side-bar h2 {
  border-bottom: 1px solid #DEDEDE;
  color: #46464A;
  font-family: Segoe UI, Helvetica, Arial !important;
  font-size: 20px;
  font-weight: lighter;
  margin: 5px 0 10px;
  padding-bottom: 14px;
}
html body .rm-layout .side-bar ul.dfwp-list li .link-item a:before {
  content: "> ";
  text-decoration: none !important;
}
html body .rm-layout .side-bar ul.dfwp-list li .link-item a:before:hover {
  text-decoration: none;
}
html body .rm-layout .side-bar .groupheader {
  border-bottom: 1px solid #DEDEDE;
  color: #46464A;
  font-family: Segoe UI, Helvetica, Arial !important;
  font-size: 20px;
  font-weight: lighter;
  margin: 5px 0 10px;
  padding-bottom: 14px;
}
html body .rm-layout .side-bar ul.dfwp-list {
  margin: 0;
  padding-right: 0;
}
html body .rm-layout .side-bar ul.dfwp-list div.item {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}
html body .rm-layout .side-bar .rm-layout .side-bar ul.dfwp-list li .link-item a:link,
html body .rm-layout .side-bar .rm-layout .side-bar ul.dfwp-list li .link-item a:hover,
html body .rm-layout .side-bar .rm-layout .side-bar ul.dfwp-list li .link-item a:visited {
  color: #009FD8;
}
html body .rm-layout .side-bar .subcol-inner {
  padding: 10px 20px;
  width: 100%;
  background-image: none;
}
html body .rm-layout .slider {
  margin: 4% 0;
  position: relative;
  min-height: 311px;
  overflow: hidden;
}
html body .rm-layout .slider ul.dfwp-column.dfwp-list {
  padding: 0px;
  margin: 0px;
  width: 100%;
  list-style-type: none;
}
html body .rm-layout .slider ul.dfwp-column.dfwp-list li {
  width: 100%;
  list-style-type: none;
}
html body .rm-layout .slider ul.dfwp-column.dfwp-list li img {
  width: 100% !important;
}
html body .rm-layout .slider .description {
  background-color: rgba(207, 0, 114, 0.9);
  color: #FFFFFF;
  height: 85%;
  height: auto;
  left: 3%;
  padding: 5% 3% 3%;
  position: absolute;
  top: 7%;
  width: 35%;
}
html body .rm-layout .slider .description h1, html body .rm-layout .slider .description a {
  color: white;
}
html body .rm-layout .slider .description a {
  background: url("https://at.avanade.com/sites/CustomerRecordsManagement/Style%20Library/img/read-more.png");
  background-position: right center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-top: 22px;
  padding-right: 22px;
  font-weight: 600;
  text-transform: capitalize;
}
html body .rm-layout #nav {
  width: auto;
  padding: 0;
  height: 14px;
  z-index: 999;
  right: 4%;
  bottom: 7%;
  position: absolute;
}
html body .rm-layout #nav a {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  text-indent: -999em;
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 1px 1px #707173;
  margin-right: 5px;
  box-shadow: none;
}
html body .rm-layout #nav a {
  background: #c0c0c0;
}
html body .rm-layout #nav a.activeSlide {
  background: none;
  border: solid 2px #D10072;
}
html body .rm-layout .tiles {
  overflow: hidden;
  clear: both;
  margin-bottom: 4%;
  color: white;
}
html body .rm-layout .tiles .dfwp-list div.item {
  overflow: visible !important;
}
html body .rm-layout .tiles div div a {
  line-height: 1em;
}
html body .rm-layout .tiles a, html body .rm-layout .tiles h2 {
  color: white;
}
html body .rm-layout .tiles ul.dfwp-list li .link-item a,
html body .rm-layout .tiles .groupheader.item.medium {
  color: white;
  font-family: Segoe UI, Helvetica, Arial !important;
}
html body .rm-layout .tiles .item {
  padding: 0px;
}
html body .rm-layout .tiles .dfwp-list {
  list-style: outside;
}
html body .rm-layout .tiles .dfwp-list li {
  color: #FFFFFF;
  font-size: 8px;
  margin-left: 15px;
}
html body .rm-layout .tiles .groupheader {
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 15px;
  line-height: 1em;
  font-family: Segoe UI, Helvetica, Arial !important;
}
html body .rm-layout .tiles .purple {
  background-color: #D41980;
  float: left;
  height: 332px;
  margin-right: 1%;
  width: 33%;
  position: relative;
  padding: 15px 25px;
}
html body .rm-layout .tiles .purple img[id^="MSOImageWebPart"] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
html body .rm-layout .tiles .wrapper {
  float: left;
  margin-bottom: 1%;
  width: 66%;
}
html body .rm-layout .tiles .orange {
  background-color: #FD5500;
  float: left;
  height: 163px;
  margin-right: 1.5%;
  width: 49.25%;
  padding: 15px 25px;
}
html body .rm-layout .tiles .blue {
  background: #009FDA;
  float: right;
  height: 163px;
  width: 49.25%;
  padding: 15px 25px;
}
html body .rm-layout .tiles .green {
  background: #238622;
  float: right;
  width: 66%;
  position: relative;
  height: 162px;
  padding: 15px 25px;
}
html body .rm-layout .tiles .green img[id^="MSOImageWebPart"] {
  position: absolute;
  top: 0;
  right: 0;
}
html body .rm-layout .bottom-content {
  position: relative;
  margin-bottom: 4em;
}
html body .rm-layout .bottom-content .types-of-documents .dfwp-list div.item {
  overflow: visible !important;
}
html body .rm-layout .bottom-content .types-of-documents .groupheader {
  display: none;
}
html body .rm-layout .bottom-content .types-of-documents .dfwp-list {
  margin: 0px;
  padding: 0px;
  background: url("https://at.avanade.com/sites/CustomerRecordsManagement/Style%20Library/img/home-tabs-back.png") right center;
  overflow: hidden;
  clear: both;
}
html body .rm-layout .bottom-content .types-of-documents .dfwp-list li {
  color: #FFFFFF;
  float: left;
  list-style: decimal outside none;
  margin-left: 24px;
  min-height: 108px;
  padding: 20px 10px 0 0;
  vertical-align: middle;
  width: 98px;
}
html body .rm-layout .bottom-content .types-of-documents .dfwp-list li .item {
  padding: 0px;
  line-height: 15px;
  overflow: hidden;
  padding: 0;
}
html body .rm-layout .bottom-content .types-of-documents .dfwp-list li .item a {
  color: white;
}
html body .rm-layout .bottom-content .groupheader {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  margin-bottom: 0px;
}
html body .rm-layout .bottom-content .customer-records, html body .rm-layout .bottom-content .temporary-documents {
  width: 50%;
  float: left;
}
html body .rm-layout .bottom-content .customer-records .dfwp-list, html body .rm-layout .bottom-content .temporary-documents .dfwp-list {
  list-style-position: inside;
  font-size: 20px;
  font-weight: bold;
  padding-right: 0px;
}
html body .rm-layout .bottom-content .customer-records .dfwp-list li, html body .rm-layout .bottom-content .temporary-documents .dfwp-list li {
  list-style-type: decimal;
  padding-left: 2%;
  background-color: #E2E2E2;
  border-bottom: 4px solid white;
  padding: 10px;
  color: white;
  line-height: 15px;
  position: relative;
  min-height: 52px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWZkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDhkYzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #009fda 0%, #008dc4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009fda), color-stop(100%, #008dc4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #009fda 0%, #008dc4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #009fda 0%, #008dc4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009fda 0%, #008dc4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #009fda 0%, #008dc4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009fda', endColorstr='#008dc4',GradientType=0 );
  /* IE6-8 */
}
html body .rm-layout .bottom-content .customer-records .dfwp-list li .item, html body .rm-layout .bottom-content .temporary-documents .dfwp-list li .item {
  padding: 0px;
  display: inline-block;
}
html body .rm-layout .bottom-content .customer-records .dfwp-list li .item a, html body .rm-layout .bottom-content .temporary-documents .dfwp-list li .item a {
  background: none repeat scroll 0 0 #E2E2E2;
  bottom: 0;
  color: #333333;
  font-size: 14px;
  padding: 2% 26% 0 4%;
  position: absolute;
  top: 0;
  width: 100%;
}
html body .rm-layout .bottom-content .customer-records .dfwp-list li .item a:hover, html body .rm-layout .bottom-content .temporary-documents .dfwp-list li .item a:hover {
  color: #333;
  text-decoration: none;
  background-color: #f6f6f6;
}
html body .rm-layout .bottom-content .temporary-documents .dfwp-list {
  margin-left: 10px !important;
}
html body .rm-layout .bottom-content .temporary-documents .dfwp-list li {
  list-style-type: none;
  padding-left: 27px;
}
html body .rm-layout a.green-button, html body .rm-layout a.blue-button {
  float: left;
  padding: 25px 10px;
  text-align: center;
  width: 49.5%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.45);
}
html body .rm-layout a.green-button:hover, html body .rm-layout a.blue-button:hover {
  text-decoration: none;
}
html body .rm-layout .green-button {
  margin-right: 1%;
  border-bottom: solid 1px #124411;
  background: #2cae2b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjYWUyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzg2MjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #2cae2b 0%, #238622 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2cae2b), color-stop(100%, #238622));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2cae2b 0%, #238622 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2cae2b 0%, #238622 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2cae2b 0%, #238622 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2cae2b 0%, #238622 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2cae2b', endColorstr='#238622',GradientType=0 );
  /* IE6-8 */
}
html body .rm-layout .green-button:hover {
  background: #218220;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxODIyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzFiNjcxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #218220 0%, #1b671a 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #218220), color-stop(99%, #1b671a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #218220 0%, #1b671a 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #218220 0%, #1b671a 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #218220 0%, #1b671a 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, #218220 0%, #1b671a 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#218220', endColorstr='#1b671a',GradientType=0 );
  /* IE6-8 */
}
html body .rm-layout .blue-button {
  border-bottom: solid 1px #004762;
  background: #009fda;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWZkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwOGRjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #009fda 0%, #008dc4 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009fda), color-stop(99%, #008dc4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #009fda 0%, #008dc4 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #009fda 0%, #008dc4 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009fda 0%, #008dc4 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, #009fda 0%, #008dc4 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009fda', endColorstr='#008dc4',GradientType=0 );
  /* IE6-8 */
}
html body .rm-layout .blue-button:hover {
  background: #008dc4;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOGRjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzAwNzdhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #008dc4 0%, #0077a3 98%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008dc4), color-stop(98%, #0077a3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008dc4 0%, #0077a3 98%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #008dc4 0%, #0077a3 98%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #008dc4 0%, #0077a3 98%);
  /* IE10+ */
  background: linear-gradient(to bottom, #008dc4 0%, #0077a3 98%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008dc4', endColorstr='#0077a3',GradientType=0 );
  /* IE6-8 */
}
